<%= form_with(model: @task, local: true) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= @task.errors.count %>
        <%= t('activerecord.errors.announce') %>
      </h2>
      <ul>
        <% @task.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="task_title">
    <%= f.label :name, t('view.name') %>
    <%= f.text_field :name %>
  </div>
  <div class="task_title">
    <%= f.label :content, t('view.content') %>
    <%= f.text_field :content %>
  </div>
  <% if controller.action_name == "new" || "create" %>
    <%= f.submit %>
    <%= link_to t('view.index'), tasks_path %>
  <% end %>
<% end %>