<%= form_with(model: @task, local: true) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= @task.errors.count %>
        <%= t('activerecord.errors.announce') %>
      </h2>
      <ul>
        <% @task.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="task_title">
    <%= f.label :title, t('view.title') %>
    <%= f.text_field :title %>
  </div>
  <div class="task_title">
    <%= f.label :content, t('view.content') %>
    <%= f.text_field :content %>
  </div>
  <div class="task_title">
    <%= f.label :limit, t('view.limit') %>
    <%= f.date_field :limit %>
  </div>
  <div class="task_title">
    <%= f.label :progress, t('view.progress') %>
    <%= f.select :progress, [[t('view.A'), "未着手"], [t('view.B'), "着手中"],
                          [t('view.C'), "完了"]], include_blank: t('view.select') %>
  </div>
  <div class="task_title">
    <%= f.label :priority, t('view.priority') %>
    <%= f.number_field :priority, in: 0..3 %>
  </div>
  <div class="task_title">
    <%= f.label :label, t('view.label') %>
    <%= f.collection_check_boxes :label_ids, Label.all, :id, :name, include_hidden: false %>
  </div>
  <%= f.submit %>
  <%= link_to t('view.index'), tasks_path %>
<% end %>