<h1><%= t('view.edit') %></h1>
<%= render 'form' %>
<%= form_with(model: @task, local: true) do |f| %>
  <div class="task_title">
    <%= f.label :limit, t('view.limit') %>
    <%= f.text_field :limit %>
  </div>
  <div class="task_title">
    <%= f.label :priority, t('view.priority') %>
    <%= f.text_field :priority %>
  </div>
  <div class="task_title">
    <%= f.label :progress, t('view.progress') %>
    <%= f.text_field :progress %>
  </div>
  <%= f.submit %>
<% end %>
 <%= link_to t('view.index'), tasks_path %>