<h1><%= t('view.index') %></h1>
<%= form_with(model: Task.new, url: tasks_path, method: :get, local: true) do |f| %>
  <%= f.label :title, t('view.title') %>
  <%= f.text_field :title, placeholder: "あいまい検索" %>

  <%= f.label :progress, t('view.progress') %>
  <%= f.select :progress, Task.progresses.keys, include_blank: t('view.select') %>

  <%= f.label :label, t('view.label') %>
  <%= f.select :label_id, @labels.map{ |label| [label.name, label.id] }, include_blank: t('view.select') %>

  <%= f.submit t('view.search') %>
<% end %>
<%= link_to t('view.sort_limit'), tasks_path(limit: "true") %> |
<%= link_to t('view.sort_priority'), tasks_path(priority: "true") %>
<hr>
<table>
  <tr>
    <th><%= t('view.title') %></th>
    <th>&nbsp;<%= t('view.limit') %></th>
    <th>&nbsp;<%= t('view.progress') %></th>
    <th>&nbsp;<%= t('view.priority') %></th>
     <th>&nbsp;<%= t('view.label') %></th>
    <th>&nbsp;<%= t('view.user_name') %></th>
  <tr/>
  <% @tasks.each do |task| %>
    <tr>
      <td class="sort" id=<%= "tasks-index_item-title-#{task.id}" %>><%= task.title %></td>
      <td class="sort" id=<%= "tasks-index_item-limit-#{task.id}" %>><%= task.limit %></td>
      <td class="sort" id=<%= "tasks-index_item-progress-#{task.id}" %>><%= task.progress %></td>
      <td class="sort" id=<%= "tasks-index_item-priority-#{task.id}" %>><%= task.priority %></td>
      <td class="sort">
        <% task.labels.each do |label| %>
          <div id=<%= "tasks-index_item-#{task.id}-label-#{label.id}" %>>
            <%= label.name %>
          </div>
        <% end %>
      </td>
      <td class="sort"><%= task.user.name %></td>
      <td><%= link_to t('view.show'), task_path(task.id) %>/</td>
      <td><%= link_to t('view.edit'), edit_task_path(task.id) %>/</td>
      <td><%= link_to t('view.destroy'), task_path(task.id),
                method: :delete,data: { confirm: t('confirm.delete') } %>
      </td>
    </tr>
  <% end %>
</table>
<hr>
<%= paginate @tasks %>
<br>
<%= link_to t('view.new'), new_task_path %>