<h1><%= t('view.show') %></h1>
<p id="notice"><%= notice %></p>
<p>
  <%= @task.title %>
  ：<%= @task.content %>
</p>

<hr>

# <tr>期限<%#= @task.limit %></tr>
# <tr>優先順位<%#= @task.priority %></tr>
# <tr>ステータス<%#= @task.progress %></tr>
# <tr>ラベル<%#= @task.tag.title %></tr>
<%= link_to t('view.edit'), edit_task_path(@task) %> |
<%= link_to t('view.index'), tasks_path %>