<h1><%= t('view.show') %></h1>
<p>
  <%= @task.title %>
  ：<%= @task.content %>
</p>

<hr>

期限：<%= @task.limit %><br>
ステータス：<%= @task.progress %><br>
優先順位：<%= @task.priority %><br>
ラベル：<% @task.labels.each do |label| %>
        <%= label.name %>
      <% end %><br>
<br>
<%= link_to t('view.edit'), edit_task_path(@task) %> |
<%= link_to t('view.index'), tasks_path %>